.rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.rating-content {
  width: 350px;
  height: fit-content;
  background-color: hsl(213, 19%, 18%);
  border-radius: 20px;
}

.icon-container {
  background-color: hsl(216, 12%, 54%);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  text-align: center;
  margin: 20px;
}

.icon {
  padding: 10px;
}

.rating-text {
  margin: 20px;
}

h2,
button {
  color: white;
}

p {
  color: hsl(217, 12%, 63%);
}

.rating-value {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.rating-values {
  background-color: hsl(212, 7%, 35%);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  text-align: center;
  border: none;
  cursor: pointer;
}

.rating-values-selected {
  background-color: hsl(217, 12%, 63%);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  text-align: center;
  border: none;
  cursor: pointer;
}

.rating-values:hover {
  background-color: hsl(25, 97%, 53%);
}

.submit {
  width: -webkit-fill-available;
  margin: 20px;
  border-radius: inherit;
  border: none;
  height: 30px;
  background-color: hsl(25, 97%, 53%);
  color: white;
  cursor: pointer;
}

.submit:hover {
  width: -webkit-fill-available;
  margin: 20px;
  border-radius: inherit;
  border: none;
  height: 30px;
  background-color: white;
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}

.image-container {
  text-align: center;
  margin: 20px;
}

.thanks-text {
  text-align: center;
  margin: 20px;
}

.selection-text {
  color: hsl(25, 97%, 53%);
  background-color: hsl(212, 7%, 35%);
  border-radius: 10px;
  width: 230px;
  height: 25px;
  margin: auto;
}